<section class="sectionCard">
    <div class="bodyCard">
        <div class="containers">
            <h1 class="heading"> Meet The Most Cheap/Expensive</h1>
            <div class="card-wrapper">

                <div class="card" *ngFor="let restaurant of restaurants">
                    <img src="{{ restaurant.imagePath }}" alt=" Disch card background" class="card-img">
                    <img src="{{ restaurant.imagePath }}" alt=" Restaurant Logo" class="profile-img">
                    <h1>Alitas de Pollo</h1>
                    <p class="restaurant-title">{{restaurant.name}}</p>
                    <p class="about">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Nisi dolore officiis quis. Obcaecati ullam harum neque ut 
                        dolor recusandae assumenda, sint animi quas ea quae. 
                        Similique, earum. Ipsum, quaerat iste.
                    </p>
                    <a href="#" class="btn"> Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</section>