
RestaurantApi/.vs/Restaurante_Proyecto/v16/.suo
RestaurantApi/.vs/Restaurante_Proyecto/v16/.suo
RestaurantApi/.vs/Restaurante_Proyecto/v16/Server/sqlite3/storage.ide
RestaurantApi/.vs/Restaurante_Proyecto/v16/Server/sqlite3/storage.ide-shm
RestaurantApi/.vs/Restaurante_Proyecto/v16/Server/sqlite3/storage.ide-wal
RestaurantApi/.vs/Restaurante_Proyecto/v16/Server/sqlite3/storage.ide
*.ide
*.dll
RestaurantApi/Restaurante_Proyecto/bin/Debug/netcoreapp2.2/Restaurante_Proyecto.dll
RestaurantApi/Restaurante_Proyecto/bin/Debug/netcoreapp2.2/Restaurante_Proyecto.pdb
RestaurantApi/Restaurante_Proyecto/obj/Debug/netcoreapp2.2/Restaurante_Proyecto.csprojAssemblyReference.cache
RestaurantApi/Restaurante_Proyecto/obj/Debug/netcoreapp2.2/Restaurante_Proyecto.dll
RestaurantApi/Restaurante_Proyecto/obj/Debug/netcoreapp2.2/Restaurante_Proyecto.pdb
