<div class="bg">
    <div class="container">
        <!-- <p>NAME | MAIN INGREDIENT | NATIONALITY | COST | SIZE | IMAGE</p> -->
        
        <!-- <div class="grid-container">
        
        </div> -->
        <div class="dishes">
            <app-dish-item  *ngFor="let dish of dishes" [dish]="dish" (deleteDish)="deleteDish($event)"></app-dish-item>
        </div>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Add Dish</a>
        </p>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                    <app-add-dish (addDish)="addDish($event)"></app-add-dish>
                </div>
                </div>
            </div>
        </div>
   
        
    
        <!-- <h1>Add Dish</h1>
        <app-add-dish (addDish)="addDish($event)"></app-add-dish>
        <h1>Edit Dish</h1>
        <app-edit-dish (editDish)="editDish($event)"></app-edit-dish> -->
    </div>
</div>
