.container {
    clear: both;
    height: 400px;
  }
  
  .container input {
    width: 80%;
    clear: both;
  }

  .btn {
    background-color: rgb(124, 14, 14); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }