<div class="row">         
    <app-restaurant-item *ngFor="let restaurant of restaurants" [restaurant]="restaurant" (deleteRestaurant)="deleteRestaurant($event)"></app-restaurant-item>   
</div>


<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Add Restaurant</a>
</p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
          <app-add-restaurant (addRestaurant)="addRestaurant($event)"></app-add-restaurant>
        </div>
      </div>
    </div>
  </div>