<div>
    <table style="width:50%">
        <tr>
            <th>NAME</th>
            <th>FOODSTYLE</th>
            <th>STREET</th>
            <th>ADDRESS NUMBER</th>
            <th>IMAGE</th>
        </tr>
    </table>
    <app-restaurant-item *ngFor="let restaurant of restaurants" [restaurant]="restaurant" (deleteRestaurant)="deleteRestaurant($event)" (getDishes)="getDishes($event)"></app-restaurant-item>
    <br>
    <h1>Add restaurant</h1>
    <app-add-restaurant (addRestaurant)="addRestaurant($event)"></app-add-restaurant>
    <br>
    <h1>Edit restaurant</h1>
    <app-edit-restaurant (editRestaurant)="editRestaurant($event)"></app-edit-restaurant>      
</div>