  <div class="container-fluid" id="cont-dish">
    <div class="wrap">
      <div class="Regisration">
        <div class="Regisration-head">
          <h2>Edit Restaurant</h2>
        </div>
        <img src="{{ imagePath }}" class="img-fluid" id="logo">
        <form class="form" [formGroup]="restaurantForm" (ngSubmit)="onSubmit(restaurantForm.value)">
            id of the restaurant: <input type="number" formControlName="id" placeholder="id of the restaurant">
            <br>
            Name of the restaurant<input type="text"  formControlName="name" placeholder="Name of the restaurant">
            <br>
            Food Style of the restaurant<input type="text" formControlName="foodStyle" placeholder="Food Style of the restaurant">
            <br>
            Location of the restaurant<input type="text" formControlName="street" placeholder="Location of the restaurant">
            <br>
            Address Number of the restaurant <input type="number" formControlName="addressNumber" placeholder="Address Number of the restaurant ">
            <br>
            Logo of the restaurant<input type="text"  formControlName="imagePath" placeholder="Logo of the restaurant">
            <br>
            <div class="clear"></div>
            <button type="submit" class="btn btn-primary col-md-4" [disabled]="restaurantForm.invalid">Update</button>
            <a [routerLink]="['/']">
              <button type="submit" class="btn btn-primary col-md-4 ml-1">Back</button>
            </a>
         </form>
        </div>
    </div>
  </div>