<footer class="page-footer font-small indigo">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row text-center">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
              <ul class="content_links">
                <hr class="light">
                <li class="text-uppercase">
                  Nosotros
                </li>
                <hr class="light">
                <li>
                  Geraldine Galindo
                </li>
                <li>
                  Wilson Ramirez
                </li>
                <li>
                  Allen Vargas
                </li>
                <li>
                  Diego Viscarra (Jefe - Boss - Mastodonte - Numero 1 - Troglodita)
                </li>
              </ul>
            </div>
  
            <div class="col-md-6 mt-md-0 mt-3">
              <ul class="content_links">
                <hr class="light">
                <li class="text-uppercase">
                  áreas de servicio
                </li>
                <hr class="light">
                <li>
                  Cochabamba
                </li>
                <li>
                  La Paz
                </li>
                <li>
                  El Alto
                </li>
                <li>
                  Santa Cruz
                </li>
                <li>
                  Potosi
                </li>
                <li>
                  Oruro
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">

        </div>
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3" id="content_social">
          <!-- Links -->
          
          <h5 class="text-uppercase">Síguenos en</h5>
          <hr class="light">
          <ul class="list-unstyled">
            <li id="Social">
              <!-- <a href="#" class="fa fa-facebook"></a> -->
              <i class="fa fa-facebook-official" style="font-size:48px;color:white"></i>
              <!-- <a href="#" class="fa fa-twitter"></a> -->
              <i class="fa fa-github-square" style="font-size:48px;color:white"></i>
              <!-- <a href="#" class="fa fa-snapchat-ghost"></a> -->
              <i class="fa fa-youtube" style="font-size:48px;color:white"></i>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <div class="footer-copyright text-center py-3">
      <hr class="light-100">
      © 2019-2020 Copyright:
      <span id="Copyright">GeralYLosOtros</span>
    </div>  
  </footer>