

<div class="box">
  
    <div class="imgBox">
      <img src="{{ dish.imagePath }}">
    </div>
    <div class="details">
      <div class="content">
        <button (click)="onDelete(dish)" class='delete'>X</button>
        <button (click)="onRedirect(dish)" class='delete'>Edit</button>
        <h3>{{ dish.name }}</h3>
        <p>Main ingredient: {{ dish.mainIngredient }} ({{ dish.nationality }})</p>
        <p>Cost: {{ dish.cost }} $</p>
        <p>Sizes: {{ dish.size }}</p>
    
      </div>
    </div>

</div>
