<!-------------------------------- SECTION HOME --------------------------->
  <!-- NAVBAR -->
  <section>
    <!-- Navigation -->
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#"><img src="assets/images/Logos/logoBurguer.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#Home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Restaurants">Restaurants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Dishes">Dishes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Information">Information</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- End Navigation -->
    
  </section>
  <!-- End Home Section -->
