#hero
{
  background-image: url("/assets/images/Slides/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 75px;
  min-height: 600px; 
  color: white;
}

#logo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content-center {
  max-width: 800px;
  margin: 0 auto 60px auto;
  text-align: center;
}
h1 {
  font-size: 66px;
  font-weight: 600;
  line-height: 80px;
}
p {
  font-size: 18px;
  color: #999999;
  line-height: 1.8;
  margin-bottom: 0;
}
#hero p {
  color:white;
}
.topmargin-lg {
  margin-top: 60px;
}
.topmargin-sm {
  margin-top: 30px;
}
.topmargin-xs {
  margin-top: 15px;
}
.btn {
  font-size: 14px;
  padding: 15px 26px;
  min-width: 160px;
  border-radius: 2px;
  display: inline-block;
}
.btn-light {
  background-color: white;
  color:black;
  border: 2px solid white;
}
.btn ion-icon {
  font-size: 14px;
  margin-left: 5px;
}

.context {
  margin-top: 0px;
  padding-bottom: 2px;
  box-shadow: -0.5px 1px 10px 10px white;
  background: rgba(0, 0, 0, 0.75);
  color: white;
}
