<div class="container">
    <form class="form" (ngSubmit)="onEdit()">
        Id of the dish <br><input type="number" name="id" [(ngModel)]="id" placeholder="id of the dish">
        <br>
        Name of the dish<input type="text" name="name" [(ngModel)]="name" placeholder="Name of the dish">
        <br>
        Main Ingredient of the dish<input type="text" name="mainIngredient" [(ngModel)]="mainIngredient" placeholder="Main Ingredient of the dish">
        <br>
        Nationality of the dish<input type="text" name="nationality" [(ngModel)]="nationality" placeholder="Nationality of the dish">
        <br>
        Cost of the dish <input type="number" name="cost" [(ngModel)]="cost" placeholder="Cost of the dish ">
        <br>
        Size of the dish<input type="text" name="size" [(ngModel)]="size" placeholder="Size of the dish">
        <br>
        Url image of the dish<input type="text" name="imagePath" [(ngModel)]="imagePath" placeholder="Url image of the dish">
        <br>
        Id restaurant of the dish<input type="number" name="restaurantId" [(ngModel)]="restaurantId" placeholder="Id restaurant of the dish">
        <br>
        <input type="submit" value="submit" class="btn"ype="submit" value="submit" class="btn">
    </form>
</div>
